@import "tailwindcss";

#maindiv {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;

}

#left-bar {
    grid-column: 1 / 2; 
    grid-row: 1/2;
}

#right-bar {
    grid-column: 2 / 3; 
}
